$white:#FFFFFF;
$black: #000000;
$black-90: #202020;
$primary-color-100:#785AE6;
$primary-color-70:#866FEA;
$primary-color-50:#9A8EF0;
$primary-color-20:#EBE8FC;
$secondary-color-100:#FF8371;
$secondary-color-70:#FB978D;
$secondary-color-50:#F7ACA9;
$secondary-color-20:#FDEEEE;
$tertiary-color-100:#3E285A;
$tertiary-color-70:#584573;
$tertiary-color-50:#72628B;
$tertiary-color-20:#DDDAE4;
$grayscale-black:#28293D;
$grayscale-light:#E9E9E9;
$grayscale-90:#3E3F51;
$grayscale-80:#535464;
$grayscale-70:#696A78;
$grayscale-60:#7E7F8B;
$grayscale-50:#9FA0A9;
$grayscale-40:#BABAC1;
$grayscale-30:#D3D3D7;
$grayscale-20:#E5E5E8;
$grayscale-10:#F5F5F6;
$error-color-100:#E02F5A;
$error-color-70:#EA6E8C;
$error-color-50:#F3ACBD;
$error-color-20:#FBE0E6;
$success-color-100:#06C295;
$success-color-70:#51D5B5;
$success-color-50:#9BE7D4;
$success-color-20:#EBFBF7;
$information-color-100:#0063F7;
$information-color-70:#4D92FA;
$information-color-50:#99C1FC;
$information-color-20:#EBF3FF;
$warning-color-100:#FF8800;
$warning-color-70:#FFAC4D;
$warning-color-50:#FFCF99;
$warning-color-20:#FFF6EB;
$reminder-color-100:#FFCC00;
$reminder-color-70:#FFDC4D;
$reminder-color-50:#FFEB99;
$reminder-color-20:#FFFBEB;
$misc-color-100:#00CFDE;
$misc-color-70:#4DDEE8;
$misc-color-50:#99ECF2;
$misc-color-20:#EBFBFD;