.footer {

    &__pqrs {

        &__title {
            padding: 8px;
            text-align: center;
            cursor: pointer;

            span {
                font-weight: 700;
                text-decoration: underline;
            }
        }

        &__content {
            overflow: hidden;

            &.close {
                max-height: 0;
            }

            &.open {
                padding: 8px 24px;
                max-height: 500px;
                transition: max-height 1.5s ease-in;
            }

        }

    }

    &__linkSection {

        display: flex;
        flex-direction: column;
        padding: 24px 40px;

        &__links {
            display: flex;
        }

        &__brand {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__logo {
            display: flex;
            width: 100%;
            max-width: 300px;
            justify-content: center;
            align-items: center;
            object-fit: contain;
        }

        &__socialNetworks {
            margin: 8px 2px;
        }

        &__socialNetworksContainer {
            display: flex;
            justify-content: center;
        }

        &__socialNetworksTitle {
            font-size: 12px;
            margin-bottom: 8px;
            text-align: center;
        }

        &__socialNetworksCta {
            cursor: pointer;
            text-decoration: none;
        }

        &__socialNetworksIcon {
            margin: 0 12px;
        }
        
        &__container {
            width: calc(70% - 40px);
            display: flex;
            flex-wrap: wrap;
            margin-left: 40px;
        }

        &__column {
            margin: 0 16px;
            min-width: 100px;
        }  

        &__ctaTitle {
            font-weight: 700;
            font-size: 14px;
            margin: 8px 0;
            text-decoration: none;
        }  

        &__cta {
            font-size: 14px;
            margin: 16px 0;
        }  

        &__terms {
            display: flex;
            justify-content: center;
            margin-top: 24px;
            padding-top: 16px;
            border-top: 1px solid;
        }

        &__ctaTerms {
            font-size: 12px;
            text-transform: uppercase;
            margin: 16px 0;
        } 
    }  

    
    &__legalAlert {
        display: flex;
        justify-content: center;
        padding: 8px 16px;
        font-weight: 700;
    }

    &__legal {
        display: flex;
        justify-content: center;
        padding: 16px 15%;

        &__logoContainer {
            display: flex;
            justify-content: space-between;
            margin: 16px 0 8px 0;
        }

        &__brandLogo {
            display: flex;
            width: 15%;
            max-width: 152px;
            justify-content: center;
            align-items: center;
            object-fit: contain;
            margin-right: 24px;
        }

        &__label {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            span {
                font-weight: 700;
            }
        }

        &__copyRight {
            font-size: 10px;
            text-decoration: underline;
        }
    }
}