body{
    font-family: 'Montserrat', sans-serif;
    color: $grayscale-black;
    margin: 0;
    background-color: $white;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

h1 {
    font-size: 40px;
    line-height: 49px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
}

h3 {
    font-size: 32px;
    line-height: 130%;
}

h4 {
    font-size: 27px;
    line-height: 33px;
}

h5 {
    font-size: 24px;
    line-height: 29px;
}

h6 {
    font-size: 20px;
    line-height: 130%;
}

button{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }


:disabled{
    pointer-events: none;
}

[hidden] {
    display: none!important;
  }
  
 body{
    scrollbar-width: thin;
 }